*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.yt-header-1{
    padding: 20px;
    display: flex;
    align-items:center;
    width: 100%;
    height: 90px;

}
.Logo{
    width: 10%;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.logo-wrapping{
    display: flex;
    
}
.yt-start-bar{
    font-size: 20px;
    cursor: pointer;
}
.searching{
    width: 80%;
      margin: auto;
height: 100%;
margin-left: 300px;
      display: flex;
      justify-content: center;
}
.search-input{
    position: relative;
    padding-left: 20px;
    width: 90%;
    height: 70%;
    border-radius: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.se-btn{
    cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #F8F8F8;
    position: absolute;
       left: 985px;
    width: 60px;
    height: 40px;
    margin-top: 1px;
    border: 1px solid grey;
   border-radius: 20px;
}
.mic{
    margin-left: 30px;
    margin-top: 7px;
    font-size: 20px;
    cursor: pointer;
}
.profiler{
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notify{
    font-size: 25px;
}
.pro{
    width: 25%;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.category{
    width: 100%;
    
}
.cate-1{
    border-radius: 10px;
    width: 6.8%;
    height: 30px;
    background-color: #e5e5e5ac;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-left: 20px;
}
.cate-1:hover{
    background-color: #E5E5E5;
}
.dark-cate-1{
    background-color: black;
    color: white;
}
.dark-cate-1:hover{
       background-color: black;
    color: white;
}
.category{
    display: flex;
}
.video-main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}
.video{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.thumnail{
    width: 100%;
    border-radius: 10px;
}
.profi{
    width: 8%;
    margin-top: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.nameing{
 padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
.mo{
    margin-top: 10px;
}